
*{
    padding: 0;
    margin: 0;
}
body,html{
    
    height: 100%;
}
.page{
    min-height: 100%;
    width: 100%;
    display: flex;
    font-size: 24px;
    background-color:pink;
}
.page .left{
    width: 250px;
    background-color: #0e162e;
}
.page .left .leftTop{
    width: 200px;
    height: 65px;
    margin: 30px auto;
    background-color: #394255;
}

.page .left .leftMain .navList{
    list-style: none;
}
.page .left .leftMain .navList .nav{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    color: #a5aab3;
    justify-content: center;
}
.page .left .leftMain .navList .active{
    color: white;
    background-color: #5666ff;
}
.page .left .leftMain .navList .nav .iconfont{
    margin-right: 20px;
}

.page .right{
    background-color: #f0f1f5;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.page .right .rightTop{
    background-color:white;
    height: 80px;
}
.page .right .rightTop .iconfont{
    margin-left: 45px;
    line-height: 80px;
}
.page .right .rightMain{
    background-color: #fff;
    margin:45px;
    flex-grow: 1;
    padding: 50px 45px;
}
.page .right .rightMain .text{
    color: #5c5c5c;
}