*{
    padding: 0;
    margin: 0;
}
.main{
    min-width: 1000px;
    width: 100%;
    background-color: #4882d6;
}
.main .list{
    font-weight: bolder;
    font-size: 20px;
    height: 80px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
}
.main .list .nav{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .list .nav .iconfont{
    font-size: 28px;
}
